<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KintoneErrorInvalidFieldValue</key>
	<dict>
		<key>ErrorCodeKey</key>
		<string>K_ERROR_00001</string>
		<key>DescriptionKey</key>
		<string>フィールド値が不正です。</string>
		<key>FailureReasonKey</key>
		<string>不正なフィールド値: %@</string>
		<key>RecoverySuggestionKey</key>
		<string></string>
	</dict>
	<key>CBErrorFailBasicAuthentication</key>
	<dict>
		<key>ErrorCodeKey</key>
		<string>C_ERROR_00003</string>
		<key>DescriptionKey</key>
		<string>Basic認証に失敗しました。</string>
		<key>FailureReasonKey</key>
		<string>Basic認証のログイン名またはパスワードが不正です。</string>
		<key>RecoverySuggestionKey</key>
		<string>Basic認証のログイン名とパスワードに正しい情報を入力してください。</string>
	</dict>
	<key>CBErrorCannotImportCertificate</key>
	<dict>
		<key>ErrorCodeKey</key>
		<string>C_ERROR_00002</string>
		<key>DescriptionKey</key>
		<string>クライアント証明書をインポートできません。</string>
		<key>FailureReasonKey</key>
		<string>クライアント証明書もしくはパスワードが不正です。(Result Code: %d)</string>
		<key>RecoverySuggestionKey</key>
		<string></string>
	</dict>
	<key>CBErrorCannotOperateKeychain</key>
	<dict>
		<key>ErrorCodeKey</key>
		<string>C_ERROR_00001</string>
		<key>DescriptionKey</key>
		<string>認証情報を保存できません。</string>
		<key>FailureReasonKey</key>
		<string>Keychainにアクセスできません。(Result Code: %d)</string>
		<key>RecoverySuggestionKey</key>
		<string></string>
	</dict>
</dict>
</plist>
